<h1>Listing questions</h1>
<%= link_to 'New Question', new_question_path %>
<ol>
    <% @questions.each do |question| %>
      <li><%= question.text %>
      <%= link_to 'Show', question %>
      <% unless current_user.nil? %>
	<%= link_to 'Edit', edit_question_path(question) %>
	<%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
	<ol>
	<% question.answers.each do |answer| %>
	  <li><%= answer.text %>
	<% end %>
	</ol>
    <% end %>
</ol>
<br />
<%= will_paginate @questions, :previous_label => 'Назад', :next_label => 'Вперед' %>
