<%= form_for(@quiz, html: {class: "form_horizontal".dasherize}) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, 'Название дисциплины', class: "control-label".dasherize %>
<div class="controls">
    <%= f.text_field :name %>
  </div>
</div>
<div class="control-group">
	<%= label_tag 'vars', 'Количество вариантов', class: "control-label".dasherize %>
<div class="controls">
	<%= number_field_tag 'vars', 0, in: 0..10, class: "vars" %>
</div>
</div>
    <% @subjects.each do |subject| %>
<div class="control-group">
	<%= label_tag subject.id, subject.name, class: "control-label".dasherize %>
<div class="controls">
	<%= number_field_tag subject.id, 0, in: 0...subject.questions.count, step: 10, class: "q_count" %>
</div>
</div>    
<% end %>
  <div class="control-group">
    <div class="controls">
    <%= f.submit 'Создать', class: "btn" %>
  </div>
</div>
<% end %>
