<p id="notice"><%= notice %></p>

  <strong>Название:</strong>
  <%= @subject.name %>
<%= will_paginate @questions, :previous_label => 'Назад', :next_label => 'Вперед', :page_gap => "..." %>
<ol start="<%= params[:page].to_i*@per_page - (@per_page - 1) if params[:page] %>">
    <% @questions.each do |question| %>
      <li>
      <% unless current_user.nil? %>
        <%= link_to(edit_question_path(question)) do %>
          <i class="icon-pencil" title="Редактировать"></i>
        <% end %>
        <%= link_to(question, confirm: 'Уверены?', method: :delete) do %>
          <i class="icon-remove" title="Удалить"></i>
        <% end %>
      <% end %>
        <%= question.text %>
	<ol>
	<% question.answers.each do |answer| %>
	  <li><%= answer.text %>
	<% end %>
	</ol>
    <% end %>
</ol>
<br />
<%= will_paginate @questions, :previous_label => 'Назад', :next_label => 'Вперед' %>

